.user-container{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
}

.user-name{
    font-weight:800;
    font-size: 23px;
}

.user-handle{
    color: rgb(120, 114, 114);
    margin-right: 40%;
}

.follow-btn{
    padding: 10px;
    width: 80px;
}