.container{
    display: flex;
    width: 35%;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 29px -9px rgba(0,0,0,0.75);
}

.followingheding{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.user-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name{
    margin-top: 15px;
    font-weight:800;
    font-size: 23px;
    text-decoration: none;
    color: black;
    
}

.link{
    text-decoration: none !important;
    color: black;
}

.user-handle{
    color: rgb(120, 114, 114);
    margin-right: 40%;
    text-decoration: none;
    
}
